.hr-bottom{
    width: calc(100% + 41px);
    margin-left: -21px;
}
.input-group-addon
{
    padding: 5px 10px !important;
    background-color:#FFF;
}
.input-group .input-group-addon + .form-control
{
    border-left:none;
}

.custom-control.custom-checkbox .custom-control-label{
    padding-top: 2px;
}
/* Chrome, Safari, Edge, Opera */
.hide-number-arrow::-webkit-outer-spin-button,
.hide-number-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.hide-number-arrow {
    -moz-appearance: textfield;
}
.cursor-pointer{
    cursor: pointer;
}
#publish-date-div .input-group-text.input-group-addon{
    border-left: 0px;
    margin-left: -9px;
    font-size: 10px;
}
.grey-bg-color{
    background-color: #F9FAFB;
}
