
/*   Gallery modal area   */
.gallery-btn {
    border-radius: 30px;
    padding: 6px 10px;
    font-weight: 500;
}
.mr-5 {margin-right: 5px;}
.gallery-btn-area {margin-bottom: 30px;}
.modal.gallery .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
.modal.gallery .modal-body {
    max-height: 460px;
    overflow: hidden;
    overflow-y: auto;
}
.gallery__img {
    border: 1px solid #dddddd;
    padding: 5px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}
.gallery__img img {
    width: 133.33px;
    height: 133.33px;
}
.gallery-wrap .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.gallery-wrap .row .col-sm-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.gallery-close {
    height: 20px;
    width: 20px;
    border: 1px solid #cccccc;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
}
